.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  max-height: max-content;
  background-color: rgb(9, 7, 19);
  overflow-x: hidden;
  position: relative;
}

